.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:100vw;
  height:100vh;
  background-color: #555;
}
.calendar{
  height: 35vh;
  width: 40vw;
  border: 1px solid;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-template-rows: 5vh 5vh 5vh 5vh;
}
.month{
  text-align: center;
  grid-column: 3/ span 3;
}
.dayCell{
  text-align: center;
  /* border-right: 1px solid;
  border-top: 1px solid; */
}

.grid-element{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}
